
<div class="row d-flex justify-content-center">
<h1>Burgers!</h1>
</div>

<div class="row d-flex justify-content-center">
<img src="https://cdn.dribbble.com/users/3113663/screenshots/11237631/media/f8c01d5c19b6afb5ddcec993ead41432.jpg" class="img-fluid" alt="Responsive image" style="width: 450px;">
</div>


<div class="row d-flex justify-content-center">
<form class="create-form">
          <h2>Add a Burger</h2>
          <label for="new-burger">Burger Name:</label>
          <input type="text" id="new-burger" name="burger_name">
   
<button class="btn btn-secondary ml-2 addBurgerBtn" type="submit">Add Burger</button>
          <label for="devoured"></label><br>
          <input type="radio" name="devoured" value="0" checked> Hungry!<br>
          <input type="radio" name="devoured" value="1"> Full!
  
</form>

</div>


<div class="d-flex justify-content-center">
  <div class="col text-center">
    <h2>Ready to eat burgers!!</h2>
    <div>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
      {{/unless}}
      {{/each}}
    </div>
  </div>



  <div class="col text-center">

    <h2>burgers I ate!</h2>
    <div>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devour=false}}
      {{/if}}
      {{/each}}
    </div>
  </div>

</div>